.container {
  height: 100%;
  margin-left: 8%;
  animation: fadeIn 2s forwards;
  animation-delay: 2s;
  margin-top: 10%;
  height: auto;

  .text-zone {
    position: absolute;
    left: 20%;
    top: 10%;
    transform: translateY(-50%);
    width: 35%;
    vertical-align: middle;
    display: table-cell;
    max-height: 90%;

    h1 {
      font-size: 53px;
      font-family: 'Coolvetica';
      color: #ffd700;
      font-weight: 400;
      margin-top: 0;
      position: relative;
      margin-bottom: 40px;
      left: -10px;

      &::before {
        content: '<h1>';
        font-family: 'La Belle Aurore';
        font-size: 18px;
        position: absolute;
        margin-top: -10px;
        left: -10px;
        opacity: 0.6;
        line-height: 18px;
      }

      &::after {
        content: '</h1>';
        font-family: 'La Belle Aurore';
        font-size: 18px;
        line-height: 18px;
        position: absolute;
        left: -30px;
        bottom: -20px;
        margin-left: 20px;
        opacity: 0.6;
      }
    }
    p {
      font-size: 14px;
      color: #fff;
      font-weight: 300;
      min-width: fit-content;
      animation: pulse 1s;
    }
  }
  .text-animate-hover {
    &:hover {
      color: #fff;
    }
  }
}
.pf-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 25rem;
  margin-left: 20rem;
  margin-right: 30rem;
}
.work {
  border-radius: 1px;
  border: 2px solid #ffd700;
  position: relative;
  overflow: hidden;
}
.work img {
  width: 100%;
  height: 100%;
  border-radius: 1px;
  display: block;
  transition: transform 0.5s;
}
.layer {
  width: 100%;
  height: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), #ffd700);
  border-radius: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.layer h3 {
  color: #fff;
  font-weight: 500;

  margin-top: 10px;
  font-size: 25px;
}
.layer p {
  color: #fff;

  margin-top: 0px;
  font-size: 17px;
}
.layer a {
  margin-top: 20px;

  text-decoration: none;
  font-size: 30px;
  line-height: 30px;
  width: 150px;
  height: 150px;
  text-align: center;
  border-radius: 50px;
}

.work:hover img {
  transform: scale(1.1);
}
.work:hover .layer {
  height: 100%;
}
@media screen and (max-width: 1150px) {
  .text-zone {
    margin-top: 7rem;
  }
  .pf-box {
    margin-top: 28rem;
    grid-template-columns: repeat(2, 2fr);
  }
}

@media screen and (max-width: 960px) {
  .text-zone {
    margin-top: 10%;
    // background: red;
  }
  .pf-box {
    display: grid;
    margin-top: 28rem;
    grid-template-columns: repeat(2, 2fr);
  }
}

@media screen and (max-width: 750px) {
  .container {
    margin-top: 9rem;
    .text-zone {
      width: 50rem;
      left: 15rem;
    }
    .pf-box {
      margin-top: 25rem;
      width: 400px;
      // grid-gap: 40px;
      // margin-top: 25rem;
      // margin-left: 3rem;
      grid-template-columns: repeat(2, 2fr);

      // margin-right: 30rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    margin-top: 5rem;
    .text-zone {
      width: 70%;
      left: 20%;
    }
    .pf-box {
      margin-top: 28rem;

      // grid-gap: 40px;
      // margin-top: 25rem;
      margin-left: 30rem;
      // margin-right: 30rem;
    }
  }
}
