.container {
  height: 100%;
  margin-left: 8%;
  animation: fadeIn 2s forwards;
  animation-delay: 2s;
  margin-top: 10%;

  .text-zone {
    position: absolute;
    left: 20%;
    top: 10%;
    transform: translateY(-50%);
    width: 35%;
    vertical-align: middle;
    display: table-cell;
    max-height: 90%;

    h1 {
      font-size: 53px;
      font-family: 'Coolvetica';
      color: #ffd700;
      font-weight: 400;
      margin-top: 0;
      position: relative;
      margin-bottom: 40px;
      left: -10px;

      &::before {
        content: '<h1>';
        font-family: 'La Belle Aurore';
        font-size: 18px;
        position: absolute;
        margin-top: -10px;
        left: -10px;
        opacity: 0.6;
        line-height: 18px;
      }

      &::after {
        content: '</h1>';
        font-family: 'La Belle Aurore';
        font-size: 18px;
        line-height: 18px;
        position: absolute;
        left: -30px;
        bottom: -20px;
        margin-left: 20px;
        opacity: 0.6;
      }
    }
    p {
      font-size: 14px;
      color: #fff;
      font-weight: 300;
      min-width: fit-content;
      animation: pulse 1s;
    }
  }
  .text-animate-hover {
    &:hover {
      color: #fff;
    }
  }
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-top: 20%;
  margin-left: 15%;
  margin-right: 15%;

  .arrow {
    z-index: 99;
    font-size: 2rem;
    cursor: pointer;
    color: #ffd700;
    user-select: none;
    &:hover {
      color: #fff;
    }
  }
}

.carousel {
  overflow: hidden;
  width: 75%;
  cursor: grab;
}

.inner-carousel {
  display: flex;
  flex-direction: row;
  height: 90%;
  width: 200%; /* 3 times the width to fit 3 items */
  transition: transform 0.5s ease;
}

.item {
  // flex: 30%; /* Adjust width to show 3 items */
  padding: 10px;
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    // border-radius: 5%;

    opacity: 0.9;
    display: block;
    transition: transform 0.5s;
  }
}

.fade-layer {
  margin: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
  height: 100%;
  background: #ffd500;

  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 14px;
  color: #444;
  font-weight: 500;
  opacity: 0;
  transition: opacity 0.4s;
}

.item:hover .fade-layer {
  padding: 20px;

  opacity: 1;
}
@media screen and (max-width: 1150px) {
  .text-zone {
    margin-top: 10%;
  }
  .carousel-container {
    .carousel {
      width: 100%;
      margin-top: 10%;
    }
  }
  .item {
    min-height: 250px;
    min-width: 150px;
  }
}

@media screen and (max-width: 950px) {
  .text-zone {
    margin-top: 10%;
  }
  .carousel-container {
    .carousel {
      width: 100%;
      margin-top: 15%;
    }
  }
  .item {
    min-height: 250px;
    min-width: 150px;
  }
}
@media screen and (max-width: 800px) {
  .text-zone {
    margin-top: 10%;
    // background: red;
  }
  .carousel-container {
    .carousel {
      margin-top: 20%;
      width: 100%;
    }
  }
  .item {
    min-height: 250px;
    min-width: 150px;
  }
}
@media screen and (max-width: 750px) {
  .container {
    margin-top: 10%;
    .text-zone {
      width: 70%;
      left: 20%;
    }
    .carousel-container {
      .carousel {
        margin-top: 20%;
        margin-left: 25%;
        margin-right: 25%;
      }
      .item {
        padding: 20px;
        position: relative;
        overflow: hidden;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .container {
    margin-top: 0;
    .text-zone {
      width: 70%;
      left: 20%;
    }
    .carousel-container {
      .arrow {
        z-index: 999;

        font-size: 2rem;
        cursor: pointer;
        color: #ffd700;
        user-select: none;
        &:hover {
          color: #fff;
        }
      }
      .carousel {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 35%;
        margin-top: 20%;
        margin-right: 10%;
        margin-left: 10%;
      }
      .item {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 20px;
        position: relative;
        overflow: hidden;
      }
    }
  }
}
